[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pyngrok = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
bandit = "*"
check-manifest = "*"
twine = "*"

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
